.form__newsletter {
    display: flex;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #e93d50;
    border: 2px solid #e93d50;
    border-radius: 7px;
}

.form__newsletter-label {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.form__newsletter-campo {
    padding: .6rem .4rem;
    flex-grow: 1;
    border: none;
}

.form__newsletter-botao {
    background-color: #e93d50;
    color: #FFF;
    flex-grow: 1;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}